doctype html
htlm(lang="en")
  head
    title Express app
  body
    h1 I have gone full nerd
    p Mixtape yr YOLO, taxidermy actually tattooed banjo paleo vice messenger bag. Pinterest fap next level drinking vinegar, freegan stumptown shoreditch affogato banjo mustache bicycle rights truffaut celiac swag you probably haven't heard of them. Blog aesthetic four loko, pinterest iPhone pug VHS umami franzen bicycle rights crucifix hammock four dollar toast. Actually stumptown banh mi waistcoat, knausgaard YOLO gentrify tattooed. Semiotics wayfarers crucifix, four loko meditation blog stumptown chartreuse ugh mustache four dollar toast green juice next level. Single-origin coffee 90's blue bottle gochujang meggings kinfolk. Retro schlitz iPhone, migas polaroid kale chips next level swag hoodie mlkshk.